<div class="login">
  <div class="login-container">
    <div class="login-wrap">
      <form class="login-form validate-form" [formGroup]="itemForm" (submit)="directToHomePage()">
					<span class="title p-b-26">
						Welcome
					</span>
        <span class="title p-b-48"><i class="zmdi zmdi-font"></i></span>

        <!--First Name-->
        <div class="wrap-input validate-input" data-validate="Email address not valid">
          <input id='first' class="input" type="text" name="first" formControlName="firsr">
          <span class="focus-input" data-placeholder="First Name*"></span>
        </div>

        <!--Last Name-->
        <div class="wrap-input validate-input" data-validate="Email address not valid">
          <input id='last' class="input" type="text" name="last" formControlName="last">
          <span class="focus-input" data-placeholder="Last Name*"></span>
        </div>

        <!--Username-->
        <div class="wrap-input validate-input" data-validate="Email address not valid">
          <input id='email' class="input" type="text" name="email" formControlName="email">
          <span class="focus-input" data-placeholder="Email"></span>
        </div>


        <div class="container-btn">
          <div class="wrap-btn">
            <div class="bgbtn"></div>
            <button type="submit" class="login-btn">
              <a id="signin" class="button">Sign in</a>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
