<div class="orderPanel">
    <div class="panel-heading">
        <div class="row">
            <b><h3 class="header">My Orders</h3></b>
            <button class="updateBtn" (click)="updateOrder()">update</button>
        </div>
        <div class="panel-body">
            
            <ul class="list-group"  *ngFor="let order of orders; let i = index">
                <div class="row">
                    <a data-toggle="collapse" data-target="#{{order._id}}"><b><h4>Order on date: {{order.date}}</h4></b></a>
                    <button (click)="showDetails(i)">details</button>
                </div>
                
                <div class="orderList" id="{{order._id}}">
                    <li class="list-group-item">
                        <b>Order by:</b> {{order.name}}
                    </li>
                    
                    <li class="list-group-item">
                        <b>Total Price:</b> {{order.totalPrice}}
                    </li>
                    
                </div>
                <div *ngIf="details[i]">
                    <li class="list-group-item">
                        <b>Phone Number:</b> {{order.phone}}
                    </li>
                    <li class="list-group-item">
                        <b>Current Status: </b> {{order.status}}
                    </li>
                </div>
               
            </ul>
        </div>
    </div>
</div>