@import "../cart/cart.component";
@import "../cart/cart-item/cart-item.component";
// set style for order-list
h3 {
  font-size: 20px;
}

h4 {
  font-size: 12px;
}

.smallerPriceSize {
  float: right;
  font-size: 16px;
}
