<p>
  order-list-manager works!
</p>
<!-- <section class="row profileinmiddle">
    <div class="list-group-item">
        <h5 class="header">All Orders</h5>
    </div>

    <div class="list-group-item" ng-repeat="order in model.orders">
        <div class="row">
            <div class="col-xs-7">
                <div data-toggle="collapse" data-target="#{{order._id}}">{{order.date}}</div>
            </div>
            <div class="col-xs-4">Status: {{order.status}}</div>
        </div>
        <div id="{{order._id}}" class="panel-collapse collapse">
            <br>
            <div class="row">
                <div class="col-xs-10">Address: {{order.address}}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-10">Phone Number: {{order.phone}}</div>
            </div>
            <br>
            <div class="row col-xs-10">Foods:</div>
            <br>
            <div class="row" ng-repeat="food in order.foods">
                <div class="col-xs-10">{{food}}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-10">Total: ${{order.totalPrice}}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-10 btn btn-info" ng-click="model.assign(order._id)"
                     ng-show="order.status === 'Processing'">Assign Order to Delivery Man
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 btn btn-danger"
                     ng-show="order.status != 'Completed' && order.status != 'Cancelled'"
                     ng-click="model.cancelOrder(order._id)">Cancel Order
                </div>
            </div>
        </div>
    </div>

</section> -->