<section id='main' class="main_page">
  <div class="search">
    <input type="text" class="form-control" placeholder="Please enter address" ng-model="model.keyword">
    <div class="round" (click)="model.jumpToSearchList(model.keyword)">
      <div id="cta">
        <span class="arrow primera next "></span>
        <span class="arrow segunda next "></span>
      </div>
    </div>
    <!--<a class="btn btn-default" type="button" ng-click="model.jumpToSearchList(model.keyword)" style="margin-top: 0px">-->
    <!--<span class="glyphicon glyphicon-search"></span>-->
    <!--</a>-->
    <!--</span>-->
  </div>


  <!--<canvas id="canvas"></canvas>-->
  <!--<p class="header-big">-->
  <!--RollingFood-->
  <!--</p>-->
  <!--<p class="header-small">-->
  <!--Enjoy your food at home-->
  <!--</p>-->
  <!--<div class="input-group searchbar">-->
  <!--<input type="text" class="form-control" placeholder="Please enter address" ng-model="model.keyword">-->
  <!--<span class="input-group-btn">-->
  <!--<a class="btn btn-default" type="button" ng-click="model.jumpToSearchList(model.keyword)" style="margin-top: 0px">-->
  <!--<span class="glyphicon glyphicon-search"></span>-->
  <!--</a>-->
  <!--</span>-->
  <!--</div>-->
  <!--<div class="decro">-->
  <!--<img src="../../../resources/dimsum.png">-->
  <!--<img src="../../../resources/dongbei.png">-->
  <!--<img src="../../../resources/hotpot.png">-->
  <!--<img src="../../../resources/sushi.png">-->
  <!--<img src="../../../resources/sichuan.png">-->
  <!--</div>-->
  <!--</section>-->

  <!--<div id="counter">0</div>-->
  <!--<div id="3d"></div>-->
  <!--<div id="controlls">-->
  <!--<div>-->
  <!--<button id="forward"></button>-->
  <!--<button id="left"></button>-->
  <!--<button id="backward"></button>-->
  <!--<button id="right"></button>-->
  <!--</div>-->
  <!--</div>-->


</section>
