<section id='main' class="main_page">
  <div class="search">
    <input type="text" class="form-control" placeholder="Please enter address" ng-model="model.keyword">
    <div class="round" (click)="model.jumpToSearchList(model.keyword)">
      <div id="cta">
        <span class="arrow primera next "></span>
        <span class="arrow segunda next "></span>
      </div>
    </div>
    <!--<a class="btn btn-default" type="button" ng-click="model.jumpToSearchList(model.keyword)" style="margin-top: 0px">-->
    <!--<span class="glyphicon glyphicon-search"></span>-->
    <!--</a>-->
    <!--</span>-->
  </div>
</section>
