#menu {
  width: 90%;

  .item {
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 1px 0 #f3f3f3;

    a {
      text-decoration: none;
      color: #3a3a3a;
    }

    a:visited {
      text-decoration: none;
      color: #3a3a3a;
    }
  }

  h3 {
    padding-top: 50px;
  }

  span {
    color: #66a068;
    float: right;
  }

  p {
    color: grey;
    font-size: 14px;
  }
}


