<p>
  order-assign-manager works!
</p>

<!-- a delivery man view for admin to check all free delivery men, and provide the assign function to assign the specific order to the delivery man -->
<section class="row profileinmiddle">
    <div class="list-group-item">
        <h5 class="header">Free Delivery Man</h5>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Delivery Man Name</th>
            <th>Status</th>
            <th>Assign</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table table-bordered" *ngFor="let ob of deliveryMen">
            <td>{{ob.username}}</td>
            <td>{{ob.status}}</td>
            <td><button class="btn btn-primary" (click)="assignOrder(ob)">Assign</button></td>
            <td><button class="btn btn-primary" (click)="back()">Back</button></td>
          </tr>
        </tbody>
      </table>
</section>