<p>
  order-assign-manager works!
</p>
<section class="row profileinmiddle">
    <div class="list-group-item">
        <h5 class="header">Free Delivery Man</h5>
    </div>

    <div class="list-group-item" ng-repeat="deliveryMan in deliveryMen">
        <div class="row">
            <div class="col-xs-10">
                <div>Username: {{deliveryMan.username}}</div>
                <div>Name: {{deliveryMan.firstName}} {{deliveryMan.lastName}}</div>
            </div>
            <div class="col-xs-10 btn btn-info" ng-click="assignOrder(deliveryMan._id)">Assign Order</div>
        </div>
    </div>
</section>