<nav role="navigation">
  <ul>
    <li class="li_img">
      <a href="/">
        <img src="../../assets/images/navbar.png" alt="">
      </a>
    </li>
    <li>
      <a href="/">
        <h3>Food</h3>
      </a>
    </li>
    <li class="li_login" *ngIf="!isLoggedIn">
      <a href="/login">
        Login
      </a>
    </li>
    <li class="li_register" *ngIf="!isLoggedIn">
      <a href="#!/register">
        Register
      </a>
    </li>
  </ul>

  <div *ngIf="isLoggedIn">
    <ul class="nav navbar-top-links navbar-right">
      <li class="medium">
        <div class="dropdown show">
          <a id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span> {{username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 200px">
            <a href="#!/profile" class="dropdown-item bigFont">
              <span class="glyphicon glyphicon-pencil"></span> Profile</a>
            <br>
            <a (click)="logOut()" class="dropdown-item bigFont">
              <span class="glyphicon glyphicon-log-out"></span> Log Out</a>
          </div>
        </div>
      </li>
      <li class="medium" *ngIf="isCustomer || hasRole">
        <a href="#!/orderList">
          My Order
        </a>
      </li>
      <li class="medium" *ngIf="isManager">
        <a href="#!/manager">
          Order Management
        </a>
      </li>
      <li class="medium" *ngIf="isManager">
        <a href="#!/account">
          My Restaurants
        </a>
      </li>
      <li class="medium" *ngIf="isDeliveryMan">
        <a href="#!/delivery">
          My Deliveries
        </a>
      </li>
      <li class="medium" *ngIf="isCustomer || !hasRole">
        <div class="dropdown show">
          <a id="cartLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </a>
          <div class="dropdown-menu wideDropdown" aria-labelledby="cartLink">
            <table class="table table-striped">
              <thead>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
              </thead>
              <tbody>
              <tr *ngFor="let cartItem of cartItems">
                <td>{{cartItem.name}}</td>
                <td>{{cartItem.quantity}}</td>
                <td>{{cartItem.price}}</td>
                <td>
                  <button (click)="deleteItem(cartItem.name)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <a href="#!/orderNew" class="btn btn-danger">Check Out</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
