<nav>
  <div class="container">
    <ul class="navbar-left">
      <li><a href="">Home</a></li>
    </ul> <!--end navbar-left -->

    <ul class="navbar-right">
      <li *ngIf="isLogin"><a href="/profile">Profile</a></li>
      <li>
        <a *ngIf="!isLogin" href="/login">Login</a>
        <a *ngIf="isLogin" (click)="logout()" href="/login">Logout</a>
      </li>
      <li *ngIf="isCustomer"><a href="javascript:;" id="cart" (mouseover)="show()" (click)="jumpToCart()"><i
        class="fa fa-shopping-cart"></i> Cart</a></li>
    </ul> <!--end navbar-right -->
  </div> <!--end container -->
</nav>


<div *ngIf="showCart" class="container" (mouseleave)="show()">
  <div id="shopping-cart" class="shopping-cart">
    <div class="shopping-cart-header">
      <a href="javascript:;" (click)="jumpToCart()"><i class="fa fa-shopping-cart cart-icon"></i></a><span
      class="badge">{{totalItemNum}}</span>
      <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text"> ${{totalPrice}}</span>
      </div>
    </div> <!--end shopping-cart-header -->

    <div *ngFor="let pack of cart">
      <h6>{{pack.restaurantName}}</h6>
      <ul class="shopping-cart-items" *ngFor="let item of pack.items">
        <li class="clearfix">
          <span class="item-name">{{item.name}}</span>
          <span class="item-price">${{item.singlePrice}}</span>
          <span class="item-quantity">Quantity: {{item.quantity}}</span>
        </li>
      </ul>
    </div>


    <a href="javascript:;" class="button">Checkout</a>
  </div> <!--end shopping-cart -->
</div> <!--end container -->
