@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.left-menu {
  border-bottom: 1px dotted white;
  text-decoration: none;
  display: block;
  padding: 12px;
  color: #FFFFFF;
  position: relative;
  font-weight: 400;
  overflow: hidden;
}
