/*Class Selectors*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../assets/fonts/poppins/Poppins-Regular.ttf');
}

body {
  margin: 0;
  font-family: Poppins-Regular, serif;
  background-size: 100% 100vh;
}


