
<h1>delivery-man works!</h1>
<!-- delivery man view, all orders belong to this delivery man with order status -->
<div class="list-group-item">
  <h5 class="header">All Of Your Orders</h5>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Address</th>
      <th>Total Price</th>
      <th>Date</th>
      <th>Status</th>
      <th>Pick Up</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table table-bordered" *ngFor="let ob of yourOrders">
      <td>{{ob.name}}</td>
      <td>{{ob.address}}</td>
      <td>{{ob.totalPrice}}</td>
      <td>{{ob.date}}</td>
      <!-- convert order status from number to string -->
      <td *ngIf="ob.status==0">
          Processing
      </td>
      <td *ngIf="ob.status==1">
        Pickup
      </td>
      <td *ngIf="ob.status==2">
        OnTheWay
      </td>
      <td *ngIf="ob.status==3">
        Cancelled
      </td>
      <td><button class="btn btn-primary" (click)="pickUp(ob)">Pick Up</button></td>
    </tr>
  </tbody>
</table>
