<div class="wrap cf">
  <h1 class="projTitle">My Shopping Cart</h1>
  <div class="heading cf">
    <h3>Total {{totalItemNum}} items</h3>
    <a href="javascript:;" class="continue" (click)="resetCart()">Continue Shopping</a>
  </div>
  <div class="cart">
    <ul class="cartWrap"  *ngFor="let food of foods">
      <li class="restaurantName"><h3>{{food.restaurantName}}</h3></li>
      <li class="items odd" *ngFor="let item of food.items">
        <cart-item [item]="item" [restaurantName]="food.restaurantName">
          <!--<div class="cartSection">-->
            <!--<h3>{{item.name}}</h3>-->
            <!--<p><input type="text" class="qty"/> x ${{item.price/food.items.length}}</p>-->
          <!--</div>-->
          <!--<div class="prodTotal cartSection">-->
            <!--<p>${{item.price}}</p>-->
          <!--</div>-->
          <!--<div class="cartSection removeWrap">-->
            <!--<a href="#" class="remove">x</a>-->
          <!--</div>-->
        </cart-item>
      </li>
    </ul>
  </div>

  <div class="promoCode"><h4>Have A Promo Code?</h4><input type="text" name="promo" placholder="Enter Code"/>
    <a href="#" class="btn"></a></div>

  <div class="subtotal cf">
    <ul>
      <li class="totalRow"><span class="label">Subtotal</span><span class="value">${{totalPrice}}</span></li>

      <li class="totalRow"><span class="label">Shipping</span><span class="value">${{shipping}}</span></li>

      <li class="totalRow"><span class="label">Tax</span><span class="value">${{tax}}</span></li>
      <li class="totalRow final"><span class="label">Total</span><span class="value">${{finalTotal}}</span></li>
      <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
    </ul>
  </div>
</div>
