<!-- show cart items -->
<div class="wrap cf">
  <h1 class="projTitle">My Shopping Cart</h1>
  <div class="heading cf">
    <h3>Total {{totalItemNum}} items</h3>
    <a href="" class="continue">Continue Shopping</a>
    <a href="javascript:;" class="resetCart" (click)="resetCart()">Clear Cart</a>
  </div>
  <div class="cart">
    <ul class="cartWrap"  *ngFor="let food of foods">
      <li class="restaurantName"><h3>{{food.restaurantName}}</h3></li>
      <li class="items odd" *ngFor="let item of food.items">
        <cart-item [item]="item" [restaurantName]="food.restaurantName"></cart-item>
      </li>
    </ul>
  </div>

  <div class="promoCode"><h4>Have A Promo Code?</h4><input type="text" name="promo" placholder="Enter Code"/>
    <a href="#" class="btn"></a></div>

  <div class="subtotal cf">
    <ul>
      <li class="totalRow"><span class="label">Subtotal</span><span class="value">${{totalPrice}}</span></li>

      <li class="totalRow"><span class="label">Shipping</span><span class="value">${{shipping}}</span></li>

      <li class="totalRow"><span class="label">Tax</span><span class="value">${{tax}}</span></li>
      <li class="totalRow final"><span class="label">Total</span><span class="value">${{finalTotal}}</span></li>
      <li class="totalRow"><button (click)="generateOrder()" class="btn continue">Checkout</button></li>
    </ul>
  </div>
</div>
